:root {
  font-family: 'Inter', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url('./assets/Wall.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}